<!-- Modal -->
<div
  class="modal fade"
  id="forgotPasswordModal"
  tabindex="-1"
  aria-labelledby="forgotPasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content rounded-3 border-3 border-bottom-0 border-start-0 border-end-0 border-secondary"
    >
      <div class="modal-header">
        <h5 class="modal-title fs-3 text-primary" id="forgotPasswordModalLabel">忘記密碼</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5 class="fs-4 fw-normal text-center py-5">請輸入您的註冊電子郵件，我們將會寄送『重新設定密碼』連結給您進行密碼設定。</h5>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">註冊信箱</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="請輸入你註冊的電子信箱"
            />
          </div>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-secondary btn-lg my-3 rounded-pill w-100"
          >
            確定送出
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
