<div class="nav-scroller border-bottom border-gray-600">
  <ul class="mainMenu nav">
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">音樂</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">戲劇</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss <%= current === 'product' && 'active' %>" href="./product.html">設計</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">藝術</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">美食</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">旅遊</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">電影</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">親子</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link mainMenu__link py-ss" href="#">期間限定</a>
    </li>
  </ul>
</div>