<div
  class="shopping__sidebar offcanvas offcanvas-end bg-black"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header px-4 px-lg-7 pb-3">
    <h5 id="offcanvasRightLabel" class="fs-3 fs-lg-2 text-white mb-0">
      Cart List
    </h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body ps-4 ps-lg-7 pt-0 scrollbar pe-0 pb-0">
    <ul class="d-flex flex-column">
      <li class="d-flex shopping__item position-relative">
        <div class="shopping__close">
          <span class="material-icons">
            close
          </span>
        </div>
        <div class="flex-shrink-0 me-4">
          <img
            src="./assets/images/hot-1.jpg"
            class="shopping__productImg object-cover"
            alt="..."
          />
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-between">
          <p class="mb-1">2020 台味設計展</p>
          <p class="mb-1">01 JUN — 31 OCT</p>
          <small class="fw-normal flex-grow-1">全票</small>
          <p class="mt-ss mb-0 font-roboto fw-bold fs-5">NT$350</p>
        </div>
        <div class="flex-grow-md-1 d-flex align-items-center">
          <ul
            class="d-flex flex-column-reverse flex-md-row w-100 align-items-center justify-content-around font-roboto fw-bold fs-5"
          >
            <li>
              <span class="material-icons">
                remove
              </span>
            </li>
            <li class="px-md-3">01</li>
            <li>
              <span class="material-icons">
                add
              </span>
            </li>
          </ul>
        </div>
      </li>
      <li class="d-flex shopping__item position-relative">
        <div class="shopping__close">
          <span class="material-icons">
            close
          </span>
        </div>
        <div class="flex-shrink-0 me-4">
          <img
            src="./assets/images/hot-2.jpg"
            class="shopping__productImg object-cover"
            alt="hot-2"
          />
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-between">
          <p class="mb-1">2020 台味設計展</p>
          <p class="mb-1">01 JUN — 31 OCT</p>
          <small class="fw-normal flex-grow-1">全票</small>
          <p class="mt-ss mb-0 font-roboto fw-bold fs-5">NT$350</p>
        </div>
        <div class="flex-grow-md-1 d-flex align-items-center">
          <ul
            class="d-flex flex-column-reverse align-items-center flex-md-row w-100 justify-content-around font-roboto fw-bold fs-5"
          >
            <li>
              <span class="material-icons">
                remove
              </span>
            </li>
            <li class="px-md-3">01</li>
            <li>
              <span class="material-icons">
                add
              </span>
            </li>
          </ul>
        </div>
      </li>
      <li class="d-flex shopping__item position-relative">
        <div class="shopping__close">
          <span class="material-icons">
            close
          </span>
        </div>
        <div class="flex-shrink-0 me-4">
          <img
            src="./assets/images/hot-3.jpg"
            class="shopping__productImg object-cover"
            alt="hot-3"
          />
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-between">
          <p class="mb-1">2020 台味設計展</p>
          <p class="mb-1">01 JUN — 31 OCT</p>
          <small class="fw-normal flex-grow-1">全票</small>
          <p class="mt-ss mb-0 font-roboto fw-bold fs-5">NT$350</p>
        </div>
        <div class="flex-grow-md-1 d-flex align-items-center">
          <ul
            class="d-flex flex-column-reverse align-items-center flex-md-row w-100 justify-content-lg-around font-roboto fw-bold fs-5"
          >
            <li>
              <span class="material-icons">
                remove
              </span>
            </li>
            <li class="px-md-3">01</li>
            <li>
              <span class="material-icons">
                add
              </span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="offcanvas-footer shopping__footer mt-mdx2">
    <div class="d-flex text-white fs-5">
      <p class="mb-0">小計</p>
      <p class="mb-0 ms-5">NT$1050</p>
      <a
        href="./checkout-1.html"
        class="btn btn-outline-primary bg-white ms-auto shopping__btn"
        >前往結帳</a
      >
    </div>
  </div>
</div>
