<section class="h-400x bg-center-cover mt-5  mt-md-xl"
style="background-image: url('./assets/images/subscription-bg.jpg');">
<div class="container h-100">
  <div class="row h-100 flex-column justify-content-end pb-mdx4">
    <div class="col-md-5 text-white mb-5 mb-md-3">
      <p class="fs-3 fs-md-2 mb-md-3 lh-base">想收到展覽的最新消息嗎？<br />快訂閱我們！</p>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control py-3" placeholder="輸入您的電子信箱" aria-label="subscription-email">
        <div class="col-4">
          <button type="button" onclick="subscriptionMsg()" class="btn btn-secondary py-3 w-100">訂閱</button>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>