@mixin link-style ($_width: 10px) {
  background-image: linear-gradient($secondary, $secondary);
  background-position: left $_width;
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: background-size 0.15s;
  &:hover,
  &:active,
  &:focus,
  &.active {
    background-size: 100% 1px;
  }
}