.min-h-350 {
  min-height: 350px;
  height: 100%;
}
.fs {
  &-md {
    font-size: 1.75rem;
  }
  &-xl {
    font-size: 2.5rem;
  }
  &-xxl {
    font-size: 2.75rem;
  }
}
.z-index {
  &-100 {
    z-index: $zindex-bg-100;
  }
}
.w-600px {
  width: 600px;
}
.loading {
  min-height: 100vh;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #222;
  color: #fff;
}

