.detail {
  &__box {
    height: 256px;
  }
  &__period {
    color: $white;
    @include media-breakpoint-down(lg) {
      position: absolute;
      bottom: -2.125rem;
      right: 0;
      color: $black;
    }
  }
  &__box2 {
    height: 400px;
  }
  &__box3 {
    height: 559px;
  }
}
.ticket {
  &__link {
    @include link-style(23px);
  }
  &__box {
    height: 256px;
    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }
}
