.hero {
  background-image: url("../images/bg-1.jpg");
  width: 100%;
  height: 480px;
}
.mainMenu {
  z-index: 1;
  min-width: 820px;
  &__link {
    @include link-style(40px);
  }
}
.liveReview {
  &__bg {
    background-image: url("../images/people2.png");
    width: 100%;
    height: 482px;
    z-index: $zindex-bg-100;
  }
  &__cover {
    padding: 2.5rem 1.25rem;
    background-color: rgba($purple-050, 0.6);
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
  &__title {
    font-size: 1.75rem;
  }
}
