.hero {
  background-image: url("../images/bg-1.jpg");
  width: 100%;
  height: 480px;
}
.hot {
  &__image {
    min-height: 350px;
    min-width: 350px;
  }
  &__period {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: $font-weight-bold;
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      flex-direction: row-reverse;
      justify-content: space-between;
      font-weight: $font-weight-medium;
    }
  }
  &__box {
    width: 39px;
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
}
.liveReview {
  &__bg {
    background-image: url("../images/people2.png");
    width: 100%;
    height: 482px;
  }
  &__cover {
    padding: 2.5rem 1.25rem;
    background-color: rgba(#190014, 0.6);
    width: 445px;
    height: 100%;
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
  &__title {
    font-size: 1.75rem;
  }
  &__avatar{
    width: 128px;
    height: 128px;
    background-image: url("../images/people.png");
  }
}
