.hero {
  &__bg {
    background-image: url("../images/bg-1.jpg");
    height: 480px;
  }
}
.liveReview {
  &__bg {
    background-image: url("../images/people2.png");
    height: 482px;
  }
  &__cover {
    padding: 2.5rem 1.25rem;
    background-color: rgba($purple-050, 0.6);
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
}