<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/d1bdac5eaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div class="container">
      <header class="header my-6 position-relative">
        <h1 class="header__logo text-primary text-center">EXHIBINECTION</h1>
        <ul class="nav align-items-center position-absolute h-100 my-auto top-0 end-0">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link p-0" href="#">Sign in</a>
          </li>
          <li class="nav-item d-none d-md-block ms-7">
            <a class="nav-link p-0" href="#">Sign up</a>
          </li>
          <li class="nav-item ms-7">
            <a class="nav-link p-0 position-relative" href="#"
              ><span class="material-icons text-black">
                confirmation_number
              </span>
              <span class="cart__qty">1</span>
              </a
            >
          </li>
        </ul>
      </header>
    </div>

    <%- contents %>

    <footer class="footer">
      footer
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
