<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/d1bdac5eaf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css" />
</head>

<body>
  <div class="container">
    <header class="my-6 position-relative">
      <h1 class="logo text-primary text-center">EXHIBINECTION</h1>
      <ul class="nav align-items-center position-absolute h-100 my-auto top-0 end-0">
        <li class="nav-item d-none d-md-block">
          <a class="nav-link p-0" href="#">Sign in</a>
        </li>
        <li class="nav-item d-none d-md-block ms-7">
          <a class="nav-link p-0" href="#">Sign up</a>
        </li>
        <li class="nav-item ms-7">
          <a class="nav-link p-0 position-relative" href="#"><span class="material-icons text-black">
              confirmation_number
            </span>
            <span class="shopping__qty">1</span>
          </a>
        </li>
      </ul>
    </header>
  </div>

  <%- contents %>
  <section class="subscription__bg bg-center-cover mt-5  mt-md-xl">
    <div class="container h-100">
      <div class="row h-100 flex-column justify-content-end pb-mdx4">
        <div class="col-md-5 text-white mb-5 mb-md-3">
          <p class="fs-3 fs-md-2 mb-md-3 lh-base">想收到展覽的最新消息嗎？<br />快訂閱我們！</p>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control py-3" placeholder="輸入您的電子信箱" aria-label="subscription-email">
            <div class="col-4">
              <button type="button" class="btn btn-secondary py-3 w-100">訂閱</button>
              </button>
            </div>
          </div>
        </div>
      </div>
  </section>
  <footer class="footer">
    <div class="container py-4 py-md-6">
      <div class="d-flex flex-column flex-md-row justify-content-md-between position-relative">
        <div class="d-md-flex align-items-md-center">
          <p class="logo me-4 mb-0">EXHIBINECTION</p>
          <p class="mb-0 lh-base font-roboto">© 2020. All Rights Reserved.</p>
        </div>
        <div class="d-none d-md-block">
          <ul class="nav align-items-center position-absolute h-100 my-auto top-0 end-0">
            <li class="nav-item d-none d-md-block">
              <a class="nav-link p-0" href="#">Sign in</a>
            </li>
            <li class="nav-item d-none d-md-block ms-7">
              <a class="nav-link p-0" href="#">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>
</html>