.wrap {
  display: flex;
}

.sidebar {
  padding: 2rem;
  width: 296px;
  min-height: 100vh;
  &-logo {
    margin-bottom: 21px;
  }
  &-menu {
    [class^="material"] {
      margin-right: 1rem;
    }
    .nav-link {
      padding: 0;
      margin-bottom: 1.5rem;
    }
    .nav-item:last-child {
      .nav-link {
        margin-bottom: 0;
      }
    }

    .nav-link.active {
      color: $success;
      position: relative;
      &::after {
        position: absolute;
        width: 4px;
        background-color: $success;
        top: 0;
        left: -2rem;
        bottom: 0;
        content: "";
      }
    }
  }
}
.profile-avatar {
  width: 40px;
  height: 40px;
}
.main {
  width: 100%;
  padding: 2rem;
}
.ck-editor__editable {
  min-height: 220px;
}
.modal-body{
  max-height: calc( 100vh - 71px - 99px - 35px);
  overflow: auto;
}