img {
  vertical-align: middle;
}
p,
ul {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
.material-icons,
.material-icons-outlined {
  display: inline-block;
  font-size: 24px;
  line-height: inherit;
  vertical-align: middle;
  transform: translateY(-0.1em);
}
