.mainMenu {
  &__link {
    @include link-style(40px);
  }
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 3.25rem;
  overflow-y: hidden;
  & .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 0.25rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    @include media-breakpoint-down(md) {
      justify-content: start;
    }
  }
}